# If using vscode, configure: ("git.ignoreSubmodules": true) and ("git.detectSubmodules": false)

[submodule ".github/dep/garlicss"]
	path = .github/dep/garlicss
	url = https://github.com/CarcajadaArtificial/garlicss.git
	ignore = dirty
