# If using vscode, configure: ("git.ignoreSubmodules": true) and ("git.detectSubmodules": false)

[submodule ".github/dep/garlicss"]
	path = .github/dep/garlicss
	url = https://github.com/CarcajadaArtificial/garlicss.git
	ignore = dirty

[submodule ".github/dep/sassdoor"]
	path = .github/dep/sassdoor
	url = https://github.com/CarcajadaArtificial/sass-door.git
	ignore = dirty
