.particle {
  animation: giggle 0.5s infinite;
}

.particle-growth:nth-child(3n) .particle {
  animation-delay: 0.1s;
}

.particle-growth:nth-child(3n + 1) .particle {
  animation-delay: 0.2s;
}

.particle-growth:nth-child(3n + 2) .particle {
  animation-delay: 0s;
}

@keyframes giggle {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  40% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  60% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.particle:hover,
.particle:focus {
  animation-play-state: paused;
  backdrop-filter: blur(8px);
}

.particle-growth:hover,
.particle-growth:focus {
  transition: transform 0.1s ease-out;
  transform: scale(1.5) translateY(-0.5em) rotate(3deg);
  z-index: 1;
}

.atom {
  transition: transform 0.2s ease-out;
  backdrop-filter: blur(8px);
}
.atom:hover,
.atom:focus {
  transform: scale(2.5) translateY(-0.5em) rotate(3deg);
  z-index: 1;
}

.atom:hover:nth-child(3n),
.atom:focus:nth-child(3n) {
  transform: scale(2.5) translateY(-0.5em) rotate(-3deg);
}

.atom:hover:nth-child(3n + 1),
.atom:focus:nth-child(3n + 1) {
  transform: scale(2.5) translateY(0.5em) rotate(3deg);
}

.atom:hover:nth-child(3n + 2),
.atom:focus:nth-child(3n + 2) {
  transform: scale(2.5) translateY(0.5em) rotate(-3deg);
}

.atom-name {
  display: none;
  font-size: 0.35rem;
  line-height: 0.5rem;
}

.atom:focus > .atom-name,
.atom:hover > .atom-name {
  display: block;
}
