* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}
*:before, *:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

:root {
  --clr-nube: #dfd9ff;
  --clr-vinca: #afbbfa;
  --clr-cielo: #7aadf5;
  --clr-detergente: #1f84cc;
  --clr-cobalto: #1262b3;
  --clr-lapis: #000066;
  --clr-marino: #030f33;
  --clr-jade: #0f474d;
  --clr-cedro: #00806a;
  --clr-limon: #089969;
  --clr-mota: #12b362;
  --clr-musgo: #9eed77;
  --clr-wasabi: #d0fa7d;
  --clr-mantequilla: #f7ff99;
  --clr-arena: #fff7cc;
  --clr-tortilla: #ffea80;
  --clr-flan: #fabb64;
  --clr-ambar: #f59149;
  --clr-ladrillo: #cc5f29;
  --clr-arandano: #66050d;
  --clr-manzana: #b31b34;
  --clr-fresa: #e62e4d;
  --clr-chicle: #f7577f;
  --clr-bombon: #fc7ea8;
  --clr-pastel: #fa96c8;
  --clr-kawaii: #e9abf5;
  --clr-princesa: #d0bbfa;
  --clr-magia: #a37af5;
  --clr-lavanda: #6246eb;
  --clr-uva: #380899;
  --clr-turquesa: #088199;
  --clr-menta: #1fcccc;
  --clr-hielo: #7ae0f5;
  --clr-cajeta: #b36b24;
  --clr-vino: #400020;
  --clr-pulpo: #660546;
  --clr-pitahaya: #b3128a;
  --clr-borrador: #df76ba;
  --clr-obsidiana: #0c0a0d;
  --clr-chapopote: #241f26;
  --clr-grafito: #3d3640;
  --clr-hierro: #796c80;
  --clr-acero: #aca1b3;
  --clr-plata: #d5ced9;
  --clr-papel: #eee6f2;
  --clr-blanco: #ffffff;
}

.bg-nube {
  background-color: var(--clr-nube);
}

.text-nube {
  color: var(--clr-nube);
}

.bg-vinca {
  background-color: var(--clr-vinca);
}

.text-vinca {
  color: var(--clr-vinca);
}

.bg-cielo {
  background-color: var(--clr-cielo);
}

.text-cielo {
  color: var(--clr-cielo);
}

.bg-detergente {
  background-color: var(--clr-detergente);
}

.text-detergente {
  color: var(--clr-detergente);
}

.bg-cobalto {
  background-color: var(--clr-cobalto);
}

.text-cobalto {
  color: var(--clr-cobalto);
}

.bg-lapis {
  background-color: var(--clr-lapis);
}

.text-lapis {
  color: var(--clr-lapis);
}

.bg-marino {
  background-color: var(--clr-marino);
}

.text-marino {
  color: var(--clr-marino);
}

.bg-jade {
  background-color: var(--clr-jade);
}

.text-jade {
  color: var(--clr-jade);
}

.bg-cedro {
  background-color: var(--clr-cedro);
}

.text-cedro {
  color: var(--clr-cedro);
}

.bg-limon {
  background-color: var(--clr-limon);
}

.text-limon {
  color: var(--clr-limon);
}

.bg-mota {
  background-color: var(--clr-mota);
}

.text-mota {
  color: var(--clr-mota);
}

.bg-musgo {
  background-color: var(--clr-musgo);
}

.text-musgo {
  color: var(--clr-musgo);
}

.bg-wasabi {
  background-color: var(--clr-wasabi);
}

.text-wasabi {
  color: var(--clr-wasabi);
}

.bg-mantequilla {
  background-color: var(--clr-mantequilla);
}

.text-mantequilla {
  color: var(--clr-mantequilla);
}

.bg-arena {
  background-color: var(--clr-arena);
}

.text-arena {
  color: var(--clr-arena);
}

.bg-tortilla {
  background-color: var(--clr-tortilla);
}

.text-tortilla {
  color: var(--clr-tortilla);
}

.bg-flan {
  background-color: var(--clr-flan);
}

.text-flan {
  color: var(--clr-flan);
}

.bg-ambar {
  background-color: var(--clr-ambar);
}

.text-ambar {
  color: var(--clr-ambar);
}

.bg-ladrillo {
  background-color: var(--clr-ladrillo);
}

.text-ladrillo {
  color: var(--clr-ladrillo);
}

.bg-arandano {
  background-color: var(--clr-arandano);
}

.text-arandano {
  color: var(--clr-arandano);
}

.bg-manzana {
  background-color: var(--clr-manzana);
}

.text-manzana {
  color: var(--clr-manzana);
}

.bg-fresa {
  background-color: var(--clr-fresa);
}

.text-fresa {
  color: var(--clr-fresa);
}

.bg-chicle {
  background-color: var(--clr-chicle);
}

.text-chicle {
  color: var(--clr-chicle);
}

.bg-bombon {
  background-color: var(--clr-bombon);
}

.text-bombon {
  color: var(--clr-bombon);
}

.bg-pastel {
  background-color: var(--clr-pastel);
}

.text-pastel {
  color: var(--clr-pastel);
}

.bg-kawaii {
  background-color: var(--clr-kawaii);
}

.text-kawaii {
  color: var(--clr-kawaii);
}

.bg-princesa {
  background-color: var(--clr-princesa);
}

.text-princesa {
  color: var(--clr-princesa);
}

.bg-magia {
  background-color: var(--clr-magia);
}

.text-magia {
  color: var(--clr-magia);
}

.bg-lavanda {
  background-color: var(--clr-lavanda);
}

.text-lavanda {
  color: var(--clr-lavanda);
}

.bg-uva {
  background-color: var(--clr-uva);
}

.text-uva {
  color: var(--clr-uva);
}

.bg-turquesa {
  background-color: var(--clr-turquesa);
}

.text-turquesa {
  color: var(--clr-turquesa);
}

.bg-menta {
  background-color: var(--clr-menta);
}

.text-menta {
  color: var(--clr-menta);
}

.bg-hielo {
  background-color: var(--clr-hielo);
}

.text-hielo {
  color: var(--clr-hielo);
}

.bg-cajeta {
  background-color: var(--clr-cajeta);
}

.text-cajeta {
  color: var(--clr-cajeta);
}

.bg-vino {
  background-color: var(--clr-vino);
}

.text-vino {
  color: var(--clr-vino);
}

.bg-pulpo {
  background-color: var(--clr-pulpo);
}

.text-pulpo {
  color: var(--clr-pulpo);
}

.bg-pitahaya {
  background-color: var(--clr-pitahaya);
}

.text-pitahaya {
  color: var(--clr-pitahaya);
}

.bg-borrador {
  background-color: var(--clr-borrador);
}

.text-borrador {
  color: var(--clr-borrador);
}

.bg-obsidiana {
  background-color: var(--clr-obsidiana);
}

.text-obsidiana {
  color: var(--clr-obsidiana);
}

.bg-chapopote {
  background-color: var(--clr-chapopote);
}

.text-chapopote {
  color: var(--clr-chapopote);
}

.bg-grafito {
  background-color: var(--clr-grafito);
}

.text-grafito {
  color: var(--clr-grafito);
}

.bg-hierro {
  background-color: var(--clr-hierro);
}

.text-hierro {
  color: var(--clr-hierro);
}

.bg-acero {
  background-color: var(--clr-acero);
}

.text-acero {
  color: var(--clr-acero);
}

.bg-plata {
  background-color: var(--clr-plata);
}

.text-plata {
  color: var(--clr-plata);
}

.bg-papel {
  background-color: var(--clr-papel);
}

.text-papel {
  color: var(--clr-papel);
}

.bg-blanco {
  background-color: var(--clr-blanco);
}

.text-blanco {
  color: var(--clr-blanco);
}

.page {
  min-height: 100vh;
}

.light input:hover, .light input:focus,
.light button:hover,
.light button:focus {
  filter: brightness(0.8);
}
.light input:active,
.light button:active {
  filter: brightness(0.6);
}

.dark input:hover, .dark input:focus,
.dark button:hover,
.dark button:focus {
  filter: brightness(1.2);
}
.dark input:active,
.dark button:active {
  filter: brightness(1.4);
}

code {
  white-space: nowrap;
  overflow: scroll;
  max-width: min-content;
}
code .paragraph {
  width: max-content;
}

.code-wrapper {
  overflow-x: auto;
}

span.paragraph, span.small {
  line-break: auto;
}
span.subheading, span.heading, span.title, span.display {
  line-break: anywhere;
}

* {
  font-family: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

span + span.small:not(.no-margins) {
  margin-top: 0;
}

span.small {
  font-size: 0.7rem;
  line-height: 0.9rem;
  font-weight: 400;
}
span.small:not(.no-margins) {
  margin-bottom: 0.5rem;
}

span + span.paragraph:not(.no-margins) {
  margin-top: 0.5rem;
}

span.paragraph {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
}
span.paragraph:not(.no-margins) {
  margin-bottom: 1rem;
}

span + span.subheading:not(.no-margins) {
  margin-top: 2rem;
}

span.subheading {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 400;
}
span.subheading:not(.no-margins) {
  margin-bottom: 1rem;
}

span + span.heading:not(.no-margins) {
  margin-top: 2rem;
}

span.heading {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
}
span.heading:not(.no-margins) {
  margin-bottom: 1rem;
}

span + span.title:not(.no-margins) {
  margin-top: 2rem;
}

span.title {
  font-size: 2.8rem;
  line-height: 3rem;
  font-weight: 600;
}
span.title:not(.no-margins) {
  margin-bottom: 1rem;
}

span + span.display:not(.no-margins) {
  margin-top: 2rem;
}

span.display {
  font-size: 3.8rem;
  line-height: 4rem;
  font-weight: 600;
}
span.display:not(.no-margins) {
  margin-bottom: 1rem;
}

input,
textarea,
select {
  font-size: font-size("paragraph");
  line-height: line-height("paragraph");
  font-weight: font-weight("regular");
}

.indent {
  text-indent: 2rem;
}

.card .separator {
  width: calc(100% + 2.5rem + 2.5rem);
  margin-left: -2.5rem;
}

@media (min-width: 320px) and (max-width: 599px) {
  .layout-full .layout-block {
    grid-column: span 3;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .layout-full .layout-block {
    grid-column: span 6;
  }
}
@media (min-width: 1200px) and (max-width: 3000px) {
  .layout-full .layout-block {
    grid-column: span 12;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-full .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .layout-full .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .layout-full .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .layout-full .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1800px) and (max-width: 3000px) {
  .layout-full .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-center .layout-block {
    grid-column: span 3;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .layout-center .layout-block {
    grid-column: span 6;
  }
}
@media (min-width: 1200px) and (max-width: 3000px) {
  .layout-center .layout-block {
    grid-column: 3/span 8;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-center .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .layout-center .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .layout-center .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .layout-center .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1800px) and (max-width: 3000px) {
  .layout-center .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-focus .layout-block {
    grid-column: span 3;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .layout-focus .layout-block {
    grid-column: 2/span 4;
  }
}
@media (min-width: 1200px) and (max-width: 3000px) {
  .layout-focus .layout-block {
    grid-column: 4/span 6;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-focus .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .layout-focus .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .layout-focus .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .layout-focus .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1800px) and (max-width: 3000px) {
  .layout-focus .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-halves .layout-block {
    grid-column: span 3;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .layout-halves .layout-block {
    grid-column: span 3;
  }
}
@media (min-width: 1200px) and (max-width: 3000px) {
  .layout-halves .layout-block {
    grid-column: span 6;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-halves .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .layout-halves .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .layout-halves .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .layout-halves .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1800px) and (max-width: 3000px) {
  .layout-halves .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-thirds .layout-block {
    grid-column: span 3;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .layout-thirds .layout-block {
    grid-column: span 2;
  }
}
@media (min-width: 1200px) and (max-width: 3000px) {
  .layout-thirds .layout-block {
    grid-column: span 4;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-thirds .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .layout-thirds .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .layout-thirds .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .layout-thirds .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1800px) and (max-width: 3000px) {
  .layout-thirds .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-quarters .layout-block {
    grid-column: span 3;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .layout-quarters .layout-block {
    grid-column: span 3;
  }
}
@media (min-width: 1200px) and (max-width: 3000px) {
  .layout-quarters .layout-block {
    grid-column: span 3;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-quarters .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .layout-quarters .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .layout-quarters .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .layout-quarters .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1800px) and (max-width: 3000px) {
  .layout-quarters .layout-block.subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-right .layout-block:nth-child(odd) {
    grid-column: span 3;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .layout-right .layout-block:nth-child(odd) {
    grid-column: span 2;
  }
}
@media (min-width: 1200px) and (max-width: 3000px) {
  .layout-right .layout-block:nth-child(odd) {
    grid-column: span 4;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-right .layout-block:nth-child(odd).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .layout-right .layout-block:nth-child(odd).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .layout-right .layout-block:nth-child(odd).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .layout-right .layout-block:nth-child(odd).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1800px) and (max-width: 3000px) {
  .layout-right .layout-block:nth-child(odd).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-right .layout-block:nth-child(even) {
    grid-column: span 3;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .layout-right .layout-block:nth-child(even) {
    grid-column: span 4;
  }
}
@media (min-width: 1200px) and (max-width: 3000px) {
  .layout-right .layout-block:nth-child(even) {
    grid-column: span 8;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-right .layout-block:nth-child(even).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .layout-right .layout-block:nth-child(even).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .layout-right .layout-block:nth-child(even).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .layout-right .layout-block:nth-child(even).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1800px) and (max-width: 3000px) {
  .layout-right .layout-block:nth-child(even).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-left .layout-block:nth-child(odd) {
    grid-column: span 3;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .layout-left .layout-block:nth-child(odd) {
    grid-column: span 4;
  }
}
@media (min-width: 1200px) and (max-width: 3000px) {
  .layout-left .layout-block:nth-child(odd) {
    grid-column: span 8;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-left .layout-block:nth-child(odd).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .layout-left .layout-block:nth-child(odd).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .layout-left .layout-block:nth-child(odd).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .layout-left .layout-block:nth-child(odd).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1800px) and (max-width: 3000px) {
  .layout-left .layout-block:nth-child(odd).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-left .layout-block:nth-child(even) {
    grid-column: span 3;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .layout-left .layout-block:nth-child(even) {
    grid-column: span 2;
  }
}
@media (min-width: 1200px) and (max-width: 3000px) {
  .layout-left .layout-block:nth-child(even) {
    grid-column: span 4;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-left .layout-block:nth-child(even).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .layout-left .layout-block:nth-child(even).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .layout-left .layout-block:nth-child(even).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .layout-left .layout-block:nth-child(even).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1800px) and (max-width: 3000px) {
  .layout-left .layout-block:nth-child(even).subgrid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-margin-full {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .layout-margin-full {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .layout-margin-full {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .layout-margin-full {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (min-width: 1800px) and (max-width: 3000px) {
  .layout-margin-full {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-margin-single {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .layout-margin-single {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .layout-margin-single {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .layout-margin-single {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1800px) and (max-width: 3000px) {
  .layout-margin-single {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .layout-margin-none {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .layout-margin-none {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .layout-margin-none {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .layout-margin-none {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1800px) and (max-width: 3000px) {
  .layout-margin-none {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.newspaper {
  background-color: var(--clr-bg-primary);
}
.newspaper.light {
  --clr-text: var(--clr-chapopote);
  --clr-border: var(--clr-chapopote);
  --clr-bg-primary: var(--clr-papel);
  --clr-bg-secondary: var(--clr-blanco);
  --clr-bg-tertiary: var(--clr-acero);
  --clr-bg-main: var(--clr-mota);
  --clr-placeholder: var(--clr-hierro);
  --clr-bg-disabled: var(--clr-hierro);
  --clr-heading: var(--clr-jade);
  --clr-link: var(--clr-jade);
  --clr-outline: var(--clr-jade);
  --clr-error: var(--clr-chicle);
  --clr-error-light: var(--clr-bombon);
}
.newspaper.dark {
  --clr-text: var(--clr-papel);
  --clr-border: var(--clr-blanco);
  --clr-bg-primary: var(--clr-grafito);
  --clr-bg-secondary: var(--clr-chapopote);
  --clr-bg-tertiary: var(--clr-hierro);
  --clr-bg-main: var(--clr-jade);
  --clr-placeholder: var(--clr-acero);
  --clr-bg-disabled: var(--clr-acero);
  --clr-heading: var(--clr-mota);
  --clr-link: var(--clr-mota);
  --clr-outline: var(--clr-mota);
  --clr-error: var(--clr-bombon);
  --clr-error-light: var(--clr-chicle);
}
.newspaper *:focus {
  outline-color: var(--clr-outline);
}

.candyland {
  background-color: var(--clr-bg-primary);
}
.candyland.light {
  --clr-text: var(--clr-obsidiana);
  --clr-border: var(--clr-obsidiana);
  --clr-bg-primary: var(--clr-nube);
  --clr-bg-secondary: var(--clr-blanco);
  --clr-bg-tertiary: var(--clr-magia);
  --clr-bg-main: var(--clr-magia);
  --clr-placeholder: var(--clr-lavanda);
  --clr-bg-disabled: var(--clr-lavanda);
  --clr-heading: var(--clr-uva);
  --clr-link: var(--clr-uva);
  --clr-outline: var(--clr-uva);
  --clr-error: var(--clr-pulpo);
  --clr-error-light: var(--clr-borrador);
}
.candyland.dark {
  --clr-text: var(--clr-nube);
  --clr-border: var(--clr-blanco);
  --clr-bg-primary: var(--clr-marino);
  --clr-bg-secondary: var(--clr-obsidiana);
  --clr-bg-tertiary: var(--clr-lavanda);
  --clr-bg-main: var(--clr-uva);
  --clr-placeholder: var(--clr-magia);
  --clr-bg-disabled: var(--clr-magia);
  --clr-heading: var(--clr-magia);
  --clr-link: var(--clr-magia);
  --clr-outline: var(--clr-magia);
  --clr-error: var(--clr-borrador);
  --clr-error-light: var(--clr-pulpo);
}
.candyland *:focus {
  outline-color: var(--clr-outline);
}

.dusthorizon {
  background-color: var(--clr-bg-primary);
}
.dusthorizon.light {
  --clr-text: var(--clr-obsidiana);
  --clr-border: var(--clr-obsidiana);
  --clr-bg-primary: var(--clr-arena);
  --clr-bg-secondary: var(--clr-blanco);
  --clr-bg-tertiary: var(--clr-flan);
  --clr-bg-main: var(--clr-tortilla);
  --clr-placeholder: var(--clr-ladrillo);
  --clr-bg-disabled: var(--clr-ladrillo);
  --clr-heading: var(--clr-cajeta);
  --clr-link: var(--clr-cajeta);
  --clr-outline: var(--clr-cajeta);
  --clr-error: var(--clr-chicle);
  --clr-error-light: var(--clr-bombon);
}
.dusthorizon.dark {
  --clr-text: var(--clr-arena);
  --clr-border: var(--clr-blanco);
  --clr-bg-primary: var(--clr-vino);
  --clr-bg-secondary: var(--clr-obsidiana);
  --clr-bg-tertiary: var(--clr-ladrillo);
  --clr-bg-main: var(--clr-cajeta);
  --clr-placeholder: var(--clr-flan);
  --clr-bg-disabled: var(--clr-flan);
  --clr-heading: var(--clr-tortilla);
  --clr-link: var(--clr-tortilla);
  --clr-outline: var(--clr-tortilla);
  --clr-error: var(--clr-bombon);
  --clr-error-light: var(--clr-chicle);
}
.dusthorizon *:focus {
  outline-color: var(--clr-outline);
}

.clr-text {
  color: var(--clr-text);
}

.clr-heading {
  color: var(--clr-heading);
}

.clr-link {
  color: var(--clr-link);
}

.clr-outline {
  outline-color: var(--clr-outline);
}

.clr-border {
  border-color: var(--clr-border);
}

.clr-bg-disabled {
  background-color: var(--clr-bg-disabled);
}

.clr-placeholder::placeholder {
  color: var(--clr-placeholder);
}

.clr-bg-primary {
  background-color: var(--clr-bg-primary);
}

.clr-bg-secondary {
  background-color: var(--clr-bg-secondary);
}

.clr-bg-tertiary {
  background-color: var(--clr-bg-tertiary);
}

.clr-bg-main {
  background-color: var(--clr-bg-main);
}

.clr-error-text {
  color: var(--clr-error);
}

.clr-error-bg {
  background-color: var(--clr-error-light);
}

.clr-error-border {
  border-color: var(--clr-error);
}

.clr-error-outline {
  outline-color: var(--clr-error);
}

.clr-error-placeholder::placeholder {
  color: var(--clr-text);
}

.h-min {
  height: min-content;
}

.w-prose {
  max-width: 90ch;
}

.aspect-square {
  aspect-ratio: 1/1;
}

/* Markdown elements */
.markdown-prose {
  /* Inline code */
  /* Code block */
  /* Separator */
  /* Link */
}
.markdown-prose p,
.markdown-prose li {
  color: var(--clr-text);
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.markdown-prose em {
  font-style: italic;
}
.markdown-prose code {
  background-color: var(--clr-bg-secondary);
  color: var(--clr-heading);
  padding: 0 12px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid var(--clr-border);
}
.markdown-prose blockquote p {
  font-size: 1.8rem;
  line-height: 2.1rem;
  padding: 12px 24px;
  border-width: 1px 1px 1px 4px;
  border-radius: 4px;
  background-color: var(--clr-bg-secondary);
}
.markdown-prose pre {
  color: var(--clr-text);
  overflow-x: scroll;
}
.markdown-prose hr {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.markdown-prose a {
  color: var(--clr-link);
  text-decoration: underline;
}
.markdown-prose ul li {
  list-style-type: disc;
}
.markdown-prose ol li {
  list-style-type: decimal;
}
.markdown-prose h1 {
  color: var(--clr-heading);
  font-size: 3.8rem;
  line-height: 4rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.markdown-prose h2 {
  color: var(--clr-heading);
  font-size: 2.8rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.markdown-prose h3 {
  color: var(--clr-heading);
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.markdown-prose h4 {
  color: var(--clr-text);
  font-size: 1.8rem;
  line-height: 2.1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

/* Line Breaks */
.markdown-prose p,
.markdown-prose blockquote {
  line-break: auto;
}
.markdown-prose h1,
.markdown-prose h2,
.markdown-prose h3,
.markdown-prose h4 {
  line-break: auto;
}
.markdown-prose h1 a svg,
.markdown-prose h2 a svg,
.markdown-prose h3 a svg,
.markdown-prose h4 a svg {
  display: none;
}
.markdown-prose h5,
.markdown-prose h6 {
  display: none;
}

/* Syntax Highlighting */
.markdown-prose .highlight {
  background-color: var(--clr-bg-secondary);
  padding: 16px;
  border-radius: 4px;
  display: grid;
  border: 1px solid var(--clr-border);
}
.markdown-prose .highlight .token {
  color: var(--clr-flan);
}
.markdown-prose .highlight .token.punctuation {
  color: var(--clr-acero);
}
.markdown-prose .highlight .token.keyword, .markdown-prose .highlight .token.attr-name {
  color: var(--clr-flan);
}
.markdown-prose .highlight .token.operator, .markdown-prose .highlight .token.number, .markdown-prose .highlight .token.boolean {
  color: var(--clr-papel);
}
.markdown-prose .highlight .token.function {
  color: var(--clr-menta);
}
.markdown-prose .highlight .token.string, .markdown-prose .highlight .token.tag {
  color: var(--clr-vinca);
}
.markdown-prose .highlight .token.comment {
  color: var(--clr-limon);
}
.markdown-prose .highlight .token.class-name {
  color: var(--clr-cielo);
}
.markdown-prose .highlight .token.regex .token, .markdown-prose .highlight .token.attr-name + .token:not(.attr-name, .punctuation), .markdown-prose .highlight .token.property {
  color: var(--clr-bombon);
}
.markdown-prose .highlight .token.regex .regex-delimiter {
  color: var(--clr-pitahaya);
}

/*# sourceMappingURL=styles.css.map */
