*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input {
  all: unset;
}

button {
  border: none;
}

:root {
  --clr-personality: #089969;
  --clr-bg-page: #0c0a0d;
  --clr-txt-personality: #12b362;
  --clr-bg-panel: #241f26;
  --clr-txt-base: #eee6f2;
  --clr-txt-error: #f7577f;
  --clr-bg-input: #0a4c37;
  --clr-bg-disabled: #666269;
  --clr-bg-error: #320511;
  --fs0: 1rem;
  --lh0: 1.5rem;
  --fs1: 1.25rem;
  --lh1: 1.5rem;
  --fs2: 1.5625rem;
  --lh2: 3rem;
  --fs3: 1.953125rem;
  --lh3: 3rem;
  --fs4: 2.44140625rem;
  --lh4: 3rem;
  --fs5: 3.0517578125rem;
  --lh5: 4.5rem;
  --fs6: 3.8146972656rem;
  --lh6: 4.5rem;
  --s-eighth: 0.125rem;
  --s-quarter: 0.25rem;
  --s-three-eights: 0.375rem;
  --s-third: 0.3333333333rem;
  --s-half: 0.5rem;
  --s-five-eights: 0.625rem;
  --s-two-thirds: 0.6666666666rem;
  --s-three-quarters: 0.75rem;
  --s-seven-eights: 0.875rem;
  --s-single: 1rem;
  --s-one-and-half: 1.5rem;
  --s-double: 2rem;
  --s-triple: 3rem;
  --s-quadruple: 4rem;
  --s-fifteen: 15rem;
}
@media (prefers-color-scheme: light) {
  :root {
    --clr-personality: #089969;
    --clr-bg-page: #eee6f2;
    --clr-txt-personality: #0f474d;
    --clr-bg-panel: #d5ced9;
    --clr-txt-base: #0c0a0d;
    --clr-txt-error: #66050d;
    --clr-bg-input: #5fb69d;
    --clr-bg-disabled: #847f86;
    --clr-bg-error: #f7bdc6;
  }
}
@media screen and (max-width: 39.9375em) {
  :root {
    --fs0: 1rem;
    --lh0: 1.5rem;
    --fs1: 1.2rem;
    --lh1: 1.5rem;
    --fs2: 1.44rem;
    --lh2: 3rem;
    --fs3: 1.728rem;
    --lh3: 3rem;
    --fs4: 2.0736rem;
    --lh4: 3rem;
    --fs5: 2.48832rem;
    --lh5: 3rem;
    --fs6: 2.985984rem;
    --lh6: 4.5rem;
  }
}

section {
  display: grid;
}
@media screen and (max-width: 39.9375em) {
  section {
    gap: 0 0.8503100088rem;
    width: auto;
    margin: 0 0.8503100088rem;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media screen and (min-width: 40em) and (max-width: 99.9375em) {
  section {
    gap: 0 2.1257750221%;
    width: auto;
    margin: 0 calc(23.13871222% - 134.488008342px);
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
@media screen and (min-width: 100em) {
  section {
    gap: 0 1.5rem;
    width: min-content;
    margin: 0 auto;
    grid-template-columns: repeat(12, minmax(4.5rem, 4.5rem));
  }
}

section > article {
  grid-column: 3/span 8;
}
@media screen and (max-width: 39.9375em) {
  section > article {
    grid-column: 2/span 4;
  }
}

body {
  background-color: var(--clr-bg-panel);
  color: var(--clr-txt-base);
  font-size: var(--fs0);
  line-height: var(--lh0);
}

main {
  background-color: var(--clr-bg-page);
}
main > header,
main > footer {
  background-color: var(--clr-bg-panel);
  padding: var(--s-triple) 0 var(--s-one-and-half) 0;
}
main header {
  margin-bottom: var(--s-one-and-half);
}
main footer {
  margin-top: var(--s-one-and-half);
}

em {
  font-style: italic;
}

ul,
ol {
  margin: var(--s-one-and-half) 0;
}
ul > ul,
ul > ol,
ol > ul,
ol > ol {
  margin: 0 0 0 var(--s-single);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-txt-personality);
  margin-bottom: 1.5rem;
}

a {
  color: var(--clr-txt-personality);
  cursor: pointer;
}
a:hover {
  color: var(--clr-txt-personality);
}

code {
  color: var(--clr-txt-personality);
}

p {
  font-size: var(--fs0);
  line-height: var(--lh0);
}
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: var(--s-triple);
}
p + p {
  margin-top: var(--s-one-and-half);
}

h6 {
  font-size: var(--fs1);
  line-height: var(--lh1);
}

h5 {
  font-size: var(--fs2);
  line-height: var(--lh2);
}

h4 {
  font-size: var(--fs3);
  line-height: var(--lh3);
}

h3 {
  font-size: var(--fs4);
  line-height: var(--lh4);
  font-weight: 600;
}

h2 {
  font-size: var(--fs5);
  line-height: var(--lh5);
  font-weight: 600;
}

h1 {
  font-size: var(--fs6);
  line-height: var(--lh6);
  font-weight: 600;
}

input,
select,
textarea {
  display: inline-block;
  width: calc(100% - var(--s-two-thirds));
  max-width: var(--s-fifteen);
  background-color: var(--clr-bg-input);
  border: none;
  padding: var(--s-quarter) var(--s-third);
  border-radius: var(--s-eighth);
  height: var(--s-one-and-half);
  vertical-align: middle;
  box-sizing: content-box;
  font-size: var(--fs-1);
  outline: 0;
}
input:invalid,
select:invalid,
textarea:invalid {
  background-color: var(--clr-bg-error);
}
input:hover,
select:hover,
textarea:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
input:focus,
select:focus,
textarea:focus {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

input {
  -webkit-text-fill-color: var(--clr-txt-base);
}
input::-webkit-datetime-edit {
  line-height: 1;
  padding: 0;
  margin-bottom: -1px;
}
input[type=date], input[type=time] {
  height: calc(var(--s-one-and-half) + 0.1671875rem);
  padding: var(--s-third) var(--s-third) 0 var(--s-third);
}
input[type=range] {
  vertical-align: middle;
}
input[type=checkbox], input[type=radio] {
  all: revert;
  width: min-content;
  margin: 0;
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin-bottom: var(--s-one-and-half);
}

input[type=button],
input[type=image],
input[type=reset],
input[type=submit],
button {
  max-width: max-content;
  cursor: pointer;
  background-color: var(--clr-bg-input);
  padding: var(--s-quarter) var(--s-five-eights);
  border-radius: var(--s-eighth);
  margin: var(--s-third) 0 var(--s-two-thirds) 0;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select:disabled {
  opacity: 1;
}

label {
  display: block;
}
label > span + input,
label > span + select,
label > span + textarea {
  margin-bottom: var(--s-two-thirds);
}
label > span > i {
  color: var(--clr-txt-error);
}
label > span:first-child {
  margin-bottom: var(--s-third);
  display: block;
}

input:disabled,
select:disabled,
textarea:disabled,
button:disabled {
  background-color: var(--clr-bg-disabled);
  cursor: not-allowed;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
