//   ___          _
//  | _ ) __ _ __(_)__ ___
//  | _ \/ _` (_-< / _(_-<
//  |___/\__,_/__/_\__/__/
//
// =====================================================================================================

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
///
/// @group basics
///
@mixin build-semantic-elements() {
  body {
    background-color: var(--clr-bg-panel);
    color: var(--clr-txt-base);
    font-size: var(--fs0);
    line-height: var(--lh0);
  }

  main {
    background-color: var(--clr-bg-page);

    > header,
    > footer {
      background-color: var(--clr-bg-panel);
      padding: var(--s-triple) 0 var(--s-one-and-half) 0;
    }

    header {
      margin-bottom: var(--s-one-and-half);
    }

    footer {
      margin-top: var(--s-one-and-half);
    }
  }

  em {
    font-style: italic;
  }

  ul,
  ol {
    margin: var(--s-one-and-half) 0;
    > ul,
    > ol {
      margin: 0 0 0 var(--s-single);
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
///
/// @group basics
///
@mixin build-type-elements() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--clr-txt-personality);
    margin-bottom: 1.5rem;
  }

  a {
    color: var(--clr-txt-personality);
    cursor: pointer;

    &:hover {
      color: var(--clr-txt-personality);
    }
  }

  code {
    color: var(--clr-txt-personality);
  }

  p {
    font-size: var(--fs0);
    line-height: var(--lh0);

    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
      margin-top: var(--s-triple);
    }

    + p {
      margin-top: var(--s-one-and-half);
    }
  }

  h6 {
    font-size: var(--fs1);
    line-height: var(--lh1);
  }

  h5 {
    font-size: var(--fs2);
    line-height: var(--lh2);
  }

  h4 {
    font-size: var(--fs3);
    line-height: var(--lh3);
  }

  h3 {
    font-size: var(--fs4);
    line-height: var(--lh4);
    font-weight: 600;
  }

  h2 {
    font-size: var(--fs5);
    line-height: var(--lh5);
    font-weight: 600;
  }

  h1 {
    font-size: var(--fs6);
    line-height: var(--lh6);
    font-weight: 600;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
///
/// @group basics
///
@mixin build-input-elements() {
  input,
  select,
  textarea {
    display: inline-block;
    width: calc(100% - var(--s-two-thirds));
    max-width: var(--s-fifteen);
    background-color: var(--clr-bg-input);
    border: none;
    padding: var(--s-quarter) var(--s-third);
    border-radius: var(--s-eighth);
    height: var(--s-one-and-half);
    vertical-align: middle;
    box-sizing: content-box;
    font-size: var(--fs-1);
    outline: 0;

    &:invalid {
      background-color: var(--clr-bg-error);
    }

    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    }

    &:focus {
      background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    }
  }

  input {
    -webkit-text-fill-color: var(--clr-txt-base);

    &::-webkit-datetime-edit {
      line-height: 1;
      padding: 0;
      margin-bottom: -1px;
    }

    &[type='date'],
    &[type='time'] {
      height: calc(var(--s-one-and-half) + 0.1671875rem);
      padding: var(--s-third) var(--s-third) 0 var(--s-third);
    }

    &[type='range'] {
      vertical-align: middle;
    }

    &[type='checkbox'],
    &[type='radio'] {
      all: revert;
      width: min-content;
      margin: 0;
      vertical-align: middle;
    }
  }

  fieldset {
    border: 0;
    margin-bottom: var(--s-one-and-half);
  }

  input[type='button'],
  input[type='image'],
  input[type='reset'],
  input[type='submit'],
  button {
    max-width: max-content;
    cursor: pointer;
    background-color: var(--clr-bg-input);
    padding: var(--s-quarter) var(--s-five-eights);
    border-radius: var(--s-eighth);
    margin: var(--s-third) 0 var(--s-two-thirds) 0;
  }

  select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:disabled {
      opacity: 1;
    }
  }

  label {
    display: block;

    > span {
      + input,
      + select,
      + textarea {
        margin-bottom: var(--s-two-thirds);
      }

      > i {
        color: var(--clr-txt-error);
      }
    }

    > span:first-child {
      margin-bottom: var(--s-third);
      display: block;
    }
  }

  input,
  select,
  textarea,
  button {
    &:disabled {
      background-color: var(--clr-bg-disabled);
      cursor: not-allowed;
      color: inherit;
    }
  }
}
