//    ___     _
//   / __|___| |___ _ _
//  | (__/ _ \ / _ \ '_|
//   \___\___/_\___/_|
//
// =====================================================================================================

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
/// This map contains the site's color palette. Every color must be named and assigned a unique color code. The schematic must have the following structure:
/// - _key {string}: The key to the color palette must be a unique name for the respective color.
/// - _value {color}: The color code for the individual tone in the palette.
///
/// @type map
///
/// @group color
///
$palette: (
  nube: #dfd9ff,
  vinca: #afbbfa,
  cielo: #7aadf5,
  azulejo: #1f84cc,
  cobalto: #1262b3,
  lapis: #000066,
  marino: #030f33,
  jade: #0f474d,
  cedro: #00806a,
  limon: #089969,
  mota: #12b362,
  musgo: #9eed77,
  alien: #d0fa7d,
  mantequilla: #f7ff99,
  arena: #fff7cc,
  tortilla: #ffea80,
  flan: #fabb64,
  ambar: #f59149,
  ladrillo: #cc5f29,
  arandano: #66050d,
  manzana: #b31b34,
  fresa: #e62e4d,
  chicle: #f7577f,
  bombon: #fc7ea8,
  pastel: #fa96c8,
  ajolote: #e9abf5,
  princesa: #d0bbfa,
  magia: #a37af5,
  lavanda: #6246eb,
  uva: #380899,
  turquesa: #088199,
  menta: #1fcccc,
  hielo: #7ae0f5,
  cajeta: #b36b24,
  vino: #400020,
  pulpo: #660546,
  pitahaya: #b3128a,
  borrador: #df76ba,
  obsidiana: #0c0a0d,
  chapopote: #241f26,
  grafito: #3d3640,
  hierro: #796c80,
  acero: #aca1b3,
  plata: #d5ced9,
  papel: #eee6f2,
  blanco: #ffffff,
);
