//   ___             _
//  | _ \___ ___ ___| |_
//  |   / -_|_-</ -_)  _|
//  |_|_\___/__/\___|\__|
//
// =====================================================================================================

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
///
/// @group reset
///
@mixin build-reset() {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
  }

  html {
    color-scheme: dark light;
  }

  body {
    min-height: 100vh;
  }

  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }

  input {
    all: unset;
  }

  button {
    border: none;
  }
}
