//   ___ _
//  / __(_)______
//  \__ \ |_ / -_)
//  |___/_/__\___|
//
// =====================================================================================================
@use './lib/garlicss.scss' as *;

$type-schema: (
  small: -1,
  paragraph: 0,
  subheading: 2,
  heading: 3,
  title: 4,
  display: 6,
);

$fonts: (
  base: (
    'Fira Code',
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    'Liberation Mono',
    'Courier New',
    monospace,
  ),
  heading: (
    'Alice',
    Baskerville,
    Palatino,
    Georgia,
    'Times New Roman',
    serif,
  ),
);

$font-schema: (
  small: 'base',
  paragraph: 'base',
  subheading: 'base',
  heading: 'heading',
  title: 'heading',
  display: 'heading',
);
