.comp-button,
.comp-input,
.comp-select,
.comp-textarea,
.comp-chip_remove {
  transition: outline 0.1s ease-in-out;
  outline: none;

  &:focus {
    outline: 2px solid var(--clr-txt-base);
  }
}

.comp-link {
  outline-offset: var(--s-eighth);
  border-radius: var(--s-eighth);
  outline: none;
  text-decoration: none;
  transition: 0.1s ease-in-out;

  &:focus {
    outline: 2px solid var(--clr-txt-base);
  }

  &:hover {
    text-decoration: underline;
  }
}
