@use './lib/garlicss.scss' as *;
@use './system/media-queries.scss' as *;

@mixin select-none {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin appearance-none {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Header
.comp-header {
  padding: var(--s-triple) 0;

  &_banner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Main
.comp-main {
  padding: var(--s-triple) 0;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Footer
.comp-footer {
  padding: var(--s-one-and-half) 0;
  .fresh-badge {
    margin: var(--s-third) 0;

    @media (prefers-color-scheme: dark) {
      &.light {
        display: none;
      }
    }
    @media (prefers-color-scheme: light) {
      &.dark {
        display: none;
      }
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Link
.comp-link {
  text-decoration: underline;
  cursor: pointer;
  color: var(--clr-txt-personality);
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Code
.comp-code {
  line-break: strict;
  line-height: calc(100% - 1px);

  &_wrapper {
    display: inline;
    padding: 3px 0.5ch 1px 0.5ch;
    margin: 0 0.5ch;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Card
.comp-card {
  border-radius: var(--s-quarter);
  padding: var(--s-one-and-half);

  &_wrapper {
    margin-bottom: var(--s-one-and-half);
  }
}

.comp-card,
.comp-card_gradient {
  width: calc(100% + var(--s-triple));
  right: var(--s-one-and-half);
  position: relative;

  @include media(only-on($breakpoints, sm)) {
    padding: var(--s-half);
    width: calc(100% + var(--s-single));
    right: var(--s-half);
  }
}

.comp-card:has(+ .comp-card_gradient) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.comp-card_gradient + .comp-card {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Text
.comp-text {
  display: block;

  &.txt-display,
  &.txt-title,
  &.txt-heading,
  &.txt-subheading {
    font-weight: 600;
  }

  &:not(.no-margins) {
    &.txt-display,
    &.txt-title,
    &.txt-heading,
    &.txt-subheading {
      margin-bottom: var(--s-one-and-half);
    }

    &.txt-paragraph {
      + .txt-display,
      + .txt-title,
      + .txt-heading,
      + .txt-subheading {
        margin-top: var(--s-triple);
      }

      + .txt-paragraph {
        margin-top: var(--s-one-and-half);
      }
    }

    &.txt-small {
      margin: var(--s-one-and-half) 0;
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Button
.comp-button {
  padding: var(--s-quarter) var(--s-five-eights);
  margin: var(--s-third) 0 var(--s-two-thirds) 0;
  max-width: max-content;
  cursor: pointer;
  border-radius: var(--s-eighth);
  margin-right: var(--s-eighth);
}

.comp-button_panel,
.comp-panel .comp-button_invisible {
  background-color: var(--clr-bg-panel);
}

.comp-panel .comp-button_panel,
.comp-button_invisible {
  background-color: var(--clr-bg-page);
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Linkmap
.comp-linkmap {
  margin-bottom: var(--s-one-and-half);

  &_list:not(.comp-linkmap > .comp-linkmap_list) {
    margin-left: var(--s-single);
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Separator
.comp-separator {
  margin-top: var(--s-one-and-half);
  height: var(--s-one-and-half);
}

.comp-text.txt-paragraph + .comp-separator {
  margin-top: var(--s-one-and-half);
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Input
.comp-input,
.comp-textarea,
.comp-select {
  border-radius: var(--s-quarter);

  &_container {
    max-width: 24rem;
    @include select-none;

    &.comp-input_maxwidth {
      max-width: 100%;
    }
  }

  &_required {
    padding-left: var(--s-quarter);
  }

  &_error {
    position: relative;
    bottom: var(--s-eighth);
  }

  &_label {
    display: flex;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - -
.comp-input_box {
  .comp-input,
  .comp-textarea {
    padding: 1px var(--s-half);

    &::placeholder {
      color: var(--clr-txt-base);
      opacity: 0.75;
    }
  }

  .comp-select {
    padding: 0 var(--s-half);
    height: var(--s-one-and-half);
    @include appearance-none;

    &:disabled {
      opacity: 1;
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - -
.comp-input_date .comp-input {
  padding: 0 var(--s-half);
  align-items: center;
  height: 26px;
  -webkit-text-fill-color: var(--clr-txt-base);

  &::-webkit-datetime-edit {
    font: var(--txt-paragraph);
    padding: 0;
    height: 21px;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - -
.comp-input_box,
.comp-input_date {
  padding-bottom: calc(var(--s-single) + var(--s-three-eights));

  .comp-input,
  .comp-textarea,
  .comp-select {
    position: relative;
    right: var(--s-half);
    bottom: 1px;

    &_label {
      flex-direction: column;
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - -
.comp-input_bool {
  .comp-input {
    width: var(--s-single);
    height: var(--s-single);
    margin-right: var(--s-half);
    display: grid;
    place-content: center;

    &[type='radio'] {
      border-radius: 50%;
    }

    &:checked::before {
      content: '●';
    }
  }

  .comp-input_label {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    width: max-content;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - -
.comp-input_button {
  padding-bottom: calc(var(--s-single));

  .comp-input {
    padding: var(--s-quarter) var(--s-five-eights);
    border-radius: var(--s-eighth);
    cursor: pointer;

    &[type='image'] {
      height: var(--s-one-and-half);
    }
  }

  .comp-input_label {
    flex-direction: column;
    width: max-content;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Markdown
.comp-markdown {
  .keyword,
  .function,
  .property {
    color: var(--clr-txt-personality);
  }

  .class-name,
  .tag,
  .script {
    color: var(--clr-txt-base);
  }

  .punctuation,
  .operator,
  .script-punctuation {
    color: var(--clr-bg-disabled);
  }

  .number,
  .boolean,
  .string,
  .regex,
  .attr-name {
    color: var(--clr-txt-error);
  }

  .regex-delimiter {
    color: var(--clr-bg-error);
  }

  h1.comp-text {
    font: var(--txt-title) var(--font-heading);
    color: var(--clr-txt-personality);

    svg {
      fill: var(--clr-txt-personality);
    }
  }

  h2.comp-text {
    font: var(--txt-heading) var(--font-heading);
    color: var(--clr-txt-personality);

    svg {
      fill: var(--clr-txt-personality);
    }
  }

  h3.comp-text {
    font: var(--txt-subheading) var(--font-base);

    svg {
      fill: var(--clr-txt-base);
    }
  }

  h1,
  h2,
  h3 {
    &.comp-text {
      font-weight: 600;
      margin-bottom: var(--s-one-and-half);
      margin-top: var(--s-triple);
      display: flex;
      align-items: center;
      position: relative;

      a {
        position: absolute;
        left: calc(var(--s-double) * -1);
        display: none;
        padding-right: var(--s-half);

        svg {
          width: var(--s-one-and-half);
          height: var(--s-one-and-half);
        }
      }

      &:hover {
        a {
          display: block;
        }
      }
    }
  }

  h4,
  h5,
  h6 {
    &.comp-text {
      a {
        display: none;
      }
    }
  }

  .comp-code_wrapper pre {
    background-color: var(--clr-bg-panel);
    border-radius: var(--s-quarter);
    padding: var(--s-one-and-half);
    width: calc(100% + var(--s-triple));
    right: var(--s-one-and-half);
    position: relative;
    overflow-x: scroll;

    @include media(only-on($breakpoints, sm)) {
      padding: var(--s-half);
      width: calc(100% + var(--s-single));
      right: var(--s-half);
    }
  }

  ul,
  ol {
    list-style: initial;
    display: flex;
    flex-direction: column;
    gap: var(--s-single);
  }

  blockquote * {
    color: var(--clr-txt-personality);
    font-style: italic;
    margin: var(--s-single) 0;
    text-align: center;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Chip
.comp-chip {
  list-style: none;
  max-width: var(--s-fifteen);
  width: max-content;
  padding-left: var(--s-half);
  display: flex;
  align-items: center;
  border-radius: var(--s-eighth);

  &_remove {
    width: var(--s-one-and-half);
    text-align: center;
    font-size: 140%;
    height: var(--s-one-and-half);
    border-radius: var(--s-eighth);
  }
}
