@use 'sass:math';

@mixin gradient-cloud($colorA, $colorB, $size) {
  // prettier-ignore
  background: 
    linear-gradient($colorA 50%, transparent 0) 0 0,
    radial-gradient(circle closest-side, $colorA 53%, transparent 0) 0 0,
    radial-gradient(circle closest-side, $colorA 50%, transparent 0) math.div($size, 2) 0 $colorB;

  background-size: $size $size;
  background-position-y: math.div($size, 2) * -1;
  background-repeat: repeat-x;
}

@mixin gradient-zigzag($colorA, $colorB, $size) {
  // prettier-ignore
  background: 
    linear-gradient(135deg, $colorA 25%, transparent 25%) math.div($size, 2) * -1 0,
    linear-gradient(225deg, $colorA 25%, transparent 25%) math.div($size, 2) * -1 0,
    linear-gradient(315deg, $colorA 25%, transparent 25%),
    linear-gradient(45deg, $colorA 25%, transparent 25%);

  background-size: $size $size;
  background-color: $colorB;
}

@mixin gradient-wave($colorA, $colorB, $size) {
  $s: 37.5% 12.5% at 62.5%;
  $g: 34% 99%, transparent 101%;

  // prettier-ignore
  $g1: radial-gradient($s 100%, transparent 32%, $colorA $g);
  // prettier-ignore
  $g2: radial-gradient($s 0   , transparent 32%, $colorA $g);
  // prettier-ignore
  $g3: radial-gradient($s 100%, transparent 32%, $colorB $g);
  // prettier-ignore
  $g4: radial-gradient($s 0   , transparent 32%, $colorB $g);

  // prettier-ignore
  $l: linear-gradient(
    $colorA 0 12.5%, 
    $colorB 0 37.5%,
    $colorA 0 62.5%,
    $colorB 0 87.5%,
    $colorA 0 100%
    );

  // prettier-ignore
  background:
    $g1 calc(0*$size) calc(-1.5*$size),
    $g2 calc(0*$size) calc(1.5*$size),
    $g3 calc(1*$size) calc(1.5*$size),
    $g4 calc(1*$size) calc(4.5*$size),
    $g1 calc(2*$size) calc(4.5*$size),
    $g2 calc(2*$size) calc(7.5*$size),
    $g3 calc(3*$size) calc(7.5*$size),
    $g4 calc(3*$size) calc(-1.5*$size),
    $l;

  background-size: calc(4 * $size) calc(12 * $size);
}

.comp-gradient {
  min-height: var(--s-triple);
  // height: 30em;

  &_cloud {
    @include gradient-cloud(var(--clr-bg-panel), var(--clr-bg-page), 5em);
  }

  &_zigzag {
    @include gradient-zigzag(var(--clr-bg-panel), var(--clr-bg-page), 2em);
  }

  &_wave {
    // @include gradient-wave(red, white, 1em);
    @include gradient-wave(var(--clr-bg-panel), var(--clr-bg-page), 1em);
  }
}
