* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

@import 'colors.scss';
@import 'components.scss';
@import 'layouts.scss';
@import 'themes.scss';
@import 'twind.scss';
@import 'prose.scss';
