@use 'sass:map';
@use './lib/sassdoor.scss' as *;
@use './lib/garlicss.scss' as *;
@use './system/color.scss' as *;
@use './system/media-queries.scss' as *;
@use './system/grid.scss' as *;
@use './system/size.scss' as *;

@include build-reset();
// root
@include build-box-spaces();
@include build-size-schema(create-size-schema($type-schema, 1rem, 'major-third'));
@include build-size-schema(create-size-schema($type-schema, 1rem, 'minor-third'), 'print');
@include build-fonts($fonts);
// Utility classes
@include build-dual-theme($palette, 'limon', 'grafito', 'papel', true);
@include build-typography-classes($font-schema);
@include build-grid($grid-schemas, true);
@include build-all-layouts($layout-schemas, true);
