@mixin createTheme(
  $lightest,
  $lighter,
  $mid-light,
  $mid-dark,
  $darker,
  $darkest,
  $error,
  $error-light,
  $main-light,
  $main-dark
) {
  &.light {
    --clr-text: var(--clr-#{$darkest});
    --clr-border: var(--clr-#{$darkest});
    --clr-bg-primary: var(--clr-#{$lighter});
    --clr-bg-secondary: var(--clr-#{$lightest});
    --clr-bg-tertiary: var(--clr-#{$mid-light});
    --clr-bg-main: var(--clr-#{$main-light});
    --clr-placeholder: var(--clr-#{$mid-dark});
    --clr-disabled: var(--clr-#{$mid-dark});
    --clr-heading: var(--clr-#{$main-dark});
    --clr-link: var(--clr-#{$main-dark});
    --clr-outline: var(--clr-#{$main-dark});
    --clr-error: var(--clr-#{$error});
    --clr-error-light: var(--clr-#{$error-light});
  }

  &.dark {
    --clr-text: var(--clr-#{$lighter});
    --clr-border: var(--clr-#{$lightest});
    --clr-bg-primary: var(--clr-#{$darker});
    --clr-bg-secondary: var(--clr-#{$darkest});
    --clr-bg-tertiary: var(--clr-#{$mid-dark});
    --clr-bg-main: var(--clr-#{$main-dark});
    --clr-placeholder: var(--clr-#{$mid-light});
    --clr-disabled: var(--clr-#{$mid-light});
    --clr-heading: var(--clr-#{$main-light});
    --clr-link: var(--clr-#{$main-light});
    --clr-outline: var(--clr-#{$main-light});
    --clr-error: var(--clr-#{$error-light});
    --clr-error-light: var(--clr-#{$error});
  }

  background-color: var(--clr-bg-primary);
}

.newspaper {
  @include createTheme(
    blanco,
    papel,
    acero,
    hierro,
    grafito,
    chapopote,
    chicle,
    bombon,
    blanco,
    obsidiana
  );
}

.candyland {
  @include createTheme(
    blanco,
    nube,
    magia,
    lavanda,
    marino,
    obsidiana,
    pulpo,
    borrador,
    magia,
    uva
  );
}

.dusthorizon {
  @include createTheme(
    blanco,
    arena,
    flan,
    ladrillo,
    vino,
    obsidiana,
    chicle,
    bombon,
    tortilla,
    cajeta
  );
}

// Texts
.clr-text {
  color: var(--clr-text);
}

.clr-heading {
  color: var(--clr-heading);
}

.clr-link {
  color: var(--clr-link);
}

// Borders
.clr-outline {
  outline-color: var(--clr-outline);
}

.clr-border {
  border-color: var(--clr-border);
}

// Inout
.clr-disabled {
  background-color: var(--clr-disabled);
}

.clr-placeholder::placeholder {
  color: var(--clr-placeholder);
}

// Backgrounds
.clr-bg-primary {
  background-color: var(--clr-bg-primary);
}

.clr-bg-secondary {
  background-color: var(--clr-bg-secondary);
}

.clr-bg-tertiary {
  background-color: var(--clr-bg-tertiary);
}

.clr-bg-main {
  background-color: var(--clr-bg-main);
}

// Errors
.clr-error-text {
  color: var(--clr-error);
}

.clr-error-bg {
  background-color: var(--clr-error-light);
}

.clr-error-border {
  border-color: var(--clr-error);
}

.clr-error-outline {
  outline-color: var(--clr-error);
}

.clr-error-placeholder::placeholder {
  color: var(--clr-text);
}
