.test {
  // Text
  --clr-txt-base: var(--clr-papel);
  --clr-txt-contrast: var(--clr-mota);
  // Background
  --clr-bg-page: var(--clr-grafito);
  --clr-bg-panel: var(--clr-chapopote);
  --clr-bg-input: var(--clr-cedro);
  --clr-bg-contrast: var(--clr-jade);
  // Stroke
  --clr-border: var(--clr-papel);
  // Disabled
  --clr-txt-disabled: var(--clr-plata);
  --clr-bg-disabled: var(--clr-acero);
  // Error
  --clr-txt-error: var(--clr-bombon);
  --clr-bg-error: var(--clr-chicle);
}

// Text
.clr-txt-base {
  color: var(--clr-txt-base);
}

.clr-txt-contrast {
  color: var(--clr-txt-contrast);
}

// Background
.clr-bg-page {
  background-color: var(--clr-bg-page);
}
.clr-bg-panel {
  background-color: var(--clr-bg-panel);
}
.clr-bg-input {
  background-color: var(--clr-bg-input);
}
.clr-bg-contrast {
  background-color: var(--clr-bg-contrast);
}

// Stroke
*:focus {
  outline-color: var(--clr-border);
  outline-width: 4px;
  outline-style: solid;
  border-radius: 4px;
}
.clr-border {
  border-color: var(--clr-border);
}

// Disabled
.clr-txt-disabled {
  color: var(--clr-txt-disabled);
}
.clr-bg-disabled {
  background-color: var(--clr-bg-disabled);
}

// Error
.clr-txt-error {
  color: var(--clr-txt-error);
}
.clr-bg-error {
  background-color: var(--clr-bg-error);
}
